apiVersion: k8s.mariadb.com/v1alpha1
kind: PhysicalBackup
metadata:
  name: {{ .Release.Name }}-physical-backup
  namespace: {{ .Values.namespace }}
spec:
  mariaDbRef:
    name: {{ .Release.Name }}-db
  schedule:
    cron: {{ .Values.backup.schedule | quote }}
    suspend: false
  storage:
    s3:
      bucket: {{ .Values.backup.bucketFull | quote }}
      endpoint: {{ .Values.backup.s3Endpoint | quote }}
      region: {{ .Values.backup.region | quote }}
      prefix: {{ printf "backups/%s/" .Release.Name | quote }}
      # El esquema que nos ha dado tu 'explain'
      accessKeyIdSecretKeyRef:
        name: "aws-s3-backups"
        key: AWS_ACCESS_KEY_ID
      secretAccessKeySecretKeyRef:
        name: "aws-s3-backups"
        key: AWS_SECRET_ACCESS_KEY