apiVersion: k8s.mariadb.com/v1alpha1
kind: MariaDB
metadata:
  name: {{ .Release.Name }}-db
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: mariadb
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  # Evita errores de inmutabilidad en el Webhook
  rootEmptyPassword: false
  
  # Datos de la base de datos extraídos de tu values.yaml
  database: {{ .Values.database.name | quote }}
  username: {{ .Values.database.user | quote }}
  
  # Referencia a los secretos (SealedSecrets) del cliente
  passwordSecretKeyRef:
    name: {{ .Release.Name }}-secrets
    key: mysql-password
  rootPasswordSecretKeyRef:
    name: {{ .Release.Name }}-secrets
    key: mysql-root-password

  # Configuración de almacenamiento (Relay desde persistence)
  storage:
    size: {{ .Values.persistence.dbSize | default "5Gi" | quote }}
    storageClassName: {{ .Values.persistence.storageClass | default "longhorn" | quote }}
    ephemeral: false # Necesario para que sea persistente y pase la validación

  # --- CONFIGURACIÓN DE BACKUP CENTRALIZADA ---
  {{- if .Values.backup.enabled }}
  backup:
    schedule: {{ .Values.backup.schedule | default "0 3 * * *" | quote }}
    maxRetention: {{ .Values.backup.maxRetention | default "30d" | quote }}
    storage:
      s3:
        bucket: {{ .Values.backup.bucket | default "axis-backups" | quote }}
        endpoint: {{ .Values.backup.s3Endpoint | default "s3.eu-west-1.amazonaws.com" | quote }}
        region: {{ .Values.backup.region | default "eu-west-1" | quote }}
        # Usamos .Release.Name para que en S3 se cree una carpeta con el nombre de la app de ArgoCD
        prefix: {{ printf "backups/%s/full/" .Release.Name | quote }}
        secretRef:
          name: "aws-s3-backups"

    {{- if .Values.backup.pitr.enabled }}
    pointInTimeRecovery:
      s3:
        bucket: {{ .Values.backup.bucket | default "axis-backups" | quote }}
        endpoint: {{ .Values.backup.s3Endpoint | default "s3.eu-west-1.amazonaws.com" | quote }}
        region: {{ .Values.backup.region | default "eu-west-1" | quote }}
        # Prefijo separado para los binlogs usando también el nombre de la release
        prefix: {{ printf "backups/%s/binlogs/" .Release.Name | quote }}
        secretRef:
          name: "aws-s3-backups"
      retention: {{ .Values.backup.pitr.retention | default "7d" | quote }}
    {{- end }}
    {{- end }}

  # Configuración optimizada para recuperación (PITR)
  myCnf: |
    [mariadb]
    log-bin
    expire_logs_days=7
    max_binlog_size=100M