apiVersion: k8s.mariadb.com/v1alpha1
kind: MariaDB
metadata:
  name: {{ .Release.Name }}-db
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: mariadb
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  rootEmptyPassword: false
  database: {{ .Values.database.name | quote }}
  username: {{ .Values.database.user | quote }}
  
  passwordSecretKeyRef:
    name: {{ .Release.Name }}-secrets
    key: mysql-password
    generate: false
  rootPasswordSecretKeyRef:
    name: {{ .Release.Name }}-secrets
    key: mysql-root-password
    generate: false

  storage:
    size: {{ .Values.persistence.dbSize | default "5Gi" | quote }}
    storageClassName: {{ .Values.persistence.storageClass | default "longhorn" | quote }}
    ephemeral: false 

  #myCnf: |
  #    [mariadb]
  #    log-bin=mariadb-bin
  #    binlog-format=ROW
  #    expire-logs-days=7