apiVersion: k8s.mariadb.com/v1alpha1
kind: MariaDB
metadata:
  name: {{ .Release.Name }}-db
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: mariadb
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  rootEmptyPassword: false
  database: {{ .Values.database.name | quote }}
  username: {{ .Values.database.user | quote }}
  
  passwordSecretKeyRef:
    name: {{ .Release.Name }}-secrets
    key: mysql-password
    generate: false
  rootPasswordSecretKeyRef:
    name: {{ .Release.Name }}-secrets
    key: mysql-root-password
    generate: false

  storage:
    size: {{ .Values.persistence.dbSize | default "5Gi" | quote }}
    storageClassName: {{ .Values.persistence.storageClass | default "longhorn" | quote }}
    ephemeral: false
  
  {{- if .Values.backup.pitr.enabled }}
  archive:
    enabled: true
    s3:
      bucket: {{ .Values.backup.bucketBinlogs | quote }}
      endpoint: {{ .Values.backup.s3Endpoint | quote }}
      region: {{ .Values.backup.region | quote }}
      # Usamos el mismo secreto y llaves que en PhysicalBackup
      accessKeyIdSecretKeyRef:
        name: "aws-s3-backups"
        key: AWS_ACCESS_KEY_ID
      secretAccessKeySecretKeyRef:
        name: "aws-s3-backups"
        key: AWS_SECRET_ACCESS_KEY
  {{- end }}

  myCnf: |
    [mariadb]
    {{- if .Values.backup.pitr.enabled }}
    log-bin
    binlog_format=ROW
    expire_logs_days=7
    {{- end }}
    max_binlog_size=100M