apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-wp
  namespace: {{ .Values.namespace }}
spec:
  selector:
    matchLabels:
      app: {{ .Release.Name }}-wp
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-wp
    spec:
      containers:
      - name: wordpress
        image: {{ .Values.image.wordpress }}
        env:
        - name: WORDPRESS_DB_HOST
          value: {{ .Release.Name }}-db-svc
        - name: WORDPRESS_DB_NAME
          value: {{ .Values.database.name }}
        - name: WORDPRESS_DB_USER
          value: {{ .Values.database.user }}
        - name: WORDPRESS_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-secrets
              key: mysql-password
        ports:
        - containerPort: 80
        volumeMounts:
        - name: wp-data
          mountPath: /var/www/html
      volumes:
      - name: wp-data
        persistentVolumeClaim:
          claimName: {{ .Release.Name }}-wp-pvc