apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
spec:
  type: {{ .Values.service.type | default "NodePort" }}
  ports:
  - port: 25565
    targetPort: 25565
    protocol: TCP
    name: mc-port
  selector:
    app: minecraft