apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Release.Name }}-data
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ .Values.persistence.storageClass | default "longhorn" }}
  resources:
    requests:
      storage: {{ .Values.persistence.size | default "10Gi" }}