apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minecraft-bedrock
  template:
    metadata:
      labels:
        app: minecraft-bedrock
    spec:
      containers:
      - name: minecraft-bedrock
        image: itzg/minecraft-bedrock-server:latest
        ports:
        - containerPort: 19132
          protocol: UDP # IMPORTANTE para Bedrock
          name: mc-bedrock
        env:
        - name: EULA
          value: "TRUE"
        - name: GAMEMODE
          value: {{ .Values.mc.gamemode | default "survival" | quote }}
        - name: DIFFICULTY
          value: {{ .Values.mc.difficulty | default "easy" | quote }}
        - name: SERVER_NAME
          value: {{ .Values.mc.serverName | default "Servidor de Armando" | quote }}
        - name: SERVER_PORT
          value: "19132"
        volumeMounts:
        - name: data
          mountPath: /data
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: {{ .Release.Name }}-data