apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-service
  namespace: client-{{ .Values.client_name }}
spec:
  selector:
    app: odoo
  ports:
    - name: web
      port: 8069
      targetPort: 8069
    - name: chat
      port: 8072
      targetPort: 8072